.bg-1 {
    background-color: #d9d9d9;
}

.logo {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 50%;
}

.h-200 {
    height: 200px;
}

.asaid {
    height: 500px;
}

.asaid-img {
    display: block;
    height: 200px;
}